:root {
  --bg-color: rgb(27, 26, 26);
}

*,
*::after,
*::before {
  margin: 0;
  box-sizing: border-box;
}

.App {
  background-color: var(--bg-color);
}

/*
body {
  min-height: 100vh;
  background-color: var(--bg-color);
}

.App {
  max-width: 100vw;
  display: flex;
}

.address-list {
  background-color: var(--bg-color);
  color: aliceblue;
  width: 40%;
  max-width: 400px;
  height: 100vh;
}*/
